<h4 class="text-center mt-5"> Find all Grannies availables </h4>
<div class="cards mt-5">
  <% @grannies.each do |granny| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path granny.photo.key %>')">
    <%= link_to granny.name, granny_path(granny) %>
    <div class="badges-container">

    </div>
  </div>
  <% end %>
</div>
<br>
<div class="col-sm-4 text-center">
  <%= link_to "Add a new Granny ", new_granny_path(@granny), :class => "btn btn-outline-warning btn-lg " %>
</div>
<br>
<div
  id="map"
  style="width: 70%;
  height: 400px; border-radius: 10px"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="pk.eyJ1IjoibGF1ZiIsImEiOiJjazc0amx5Z2UwMDh6M2dxeXU2ejRnd2llIn0.j7-esoFdaZsAPgmEpiBJPg"
></div>






