<h1>All Grannies availables </h1>
<div class="cards mt-5">
  <% @grannies.each do |granny| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/people)">
    <%= link_to granny.name, granny_path(granny) %>
    <div class="badges-container">

    </div>
  </div>
  <% end %>
</div>
<br>
<div class="col-sm-4 text-center">
  <%= link_to "Add a Granny ", new_granny_path(@granny), :class => "btn btn-primary btn-lg " %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['pk.eyJ1IjoibGF1ZiIsImEiOiJjazc0amx5Z2UwMDh6M2dxeXU2ejRnd2llIn0.j7-esoFdaZsAPgmEpiBJPg'] %>"
></div>






