// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink : #e84a98;



$bleupastel: #89ABE3;
$vertpastel: #94A89A;
$saumon: #F8B290;
$gradient:linear-gradient(to left bottom, #fbd75b, #ffcc9c, #ffd6df, #ffedff, #ffffff);