// Specific CSS for your home-page
body {

	background: $gradient;

}

h1 {
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
}

p {
	font-size: 32px
	font-family: 'Dancing Script', cursive;

}
