  <div>
  <h4 class="text-center mt-7">Book a Granny Story</h2>
  <div class="row justify-content-center">
    <div class="formbook">

      <%= simple_form_for([@granny,booking]) do |f| %>

      <div class="form-inputs">
        <%= f.input :start_date, as: :date, html5: true %>
      </div>

      <div class="form-inputs">
        <%= f.input :end_date, as: :date, html5: true %>
      </div>

      <div class="form-actions">

        <div class="col-sm-12 text-center">
        <%= f.button :submit, :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>