<h6 class="text-center mt-5"> DashBoard </h6>
<hr>
<h5>My grannies's stories</h5>

<div class="text-center mt-5">
  <%= link_to "Add a new Granny ", new_granny_path(@granny), :class => "btn btn-outline-warning btn-lg " %>
</div>
<div class="cards mt-5">
<% current_user.grannies.each do |granny| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/people)">
    <%= link_to granny.name, granny_path(granny) %>
    <div class="badges-container">

    </div>
  </div>
  <% end %>
</div>
<hr>

<h5>My booking</h5>
<div class="cards mt-5">
<% current_user.rent_grannies.each do |granny| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/people)">
    <%= link_to granny.name, granny_path(granny) %>
    <div class="badges-container">

    </div>
  </div>
<% end %>
<% current_user.bookings.each do |booking| %>
<h3><%= "#{booking.granny.name} : #{booking.start_date}" %></h3>
<% end %>
</div>
