<head>
</head>
	<body>

		
	
			<%= image_tag "grannystorytitle.png", :size => "500x400" %>
		

		<img src="https://cdn.pixabay.com/photo/2015/12/08/01/04/sombrero-1082322_960_720.jpg" alt="">

	</body>
	

