<head>

	<body>

		<%= render "layouts/navbar" %>
 <h1 class="text-align-center">Granny's list</h1>
 <br>


    <div class="container">

    <div class="wrapper">
     <div class="row">
            <div class="col-4 col-sm align-items">
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/people)">
                Yvonne
              </div>
            </div>
            <div class=" col-4 col-sm">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
                Marguerite
              </div>
            </div>
            <div class="col-4 col-sm">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/nature)">
                Joséphine
              </div>
            </div>
            <div class="row">
              <div class="col-3 col-sm align-items">
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/people)">
                Yvonne
              </div>
              </div>
          </div>
        </div>

    </div>

        <div class="col-sm">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
          Marguerite
        </div>
        </div>
        <div class="col-sm">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/nature)">
          Joséphine
        </div>
        </div>
      </div>
        <br>
        <br>
      <div class="row">
        <div class="col-sm align-items">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/people)">
          Yvonne
        </div>
        </div>
        <div class="col-sm">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
          Marguerite
        </div>
        </div>
        <div class="col-sm">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/nature)">
          Joséphine
        </div>
        </div>
      </div>

    </div>


	</body>
		<%= render "layouts/footer" %>
</head>
