
<body>
  <%= render 'layouts/navbar' %>
	<h1>hi little Boys and Girls It's Mamie ! </h1>
		<p>Find me in app/views/pages/home.html.erb</p>
    <h2>Hello guys I'm Georgette</h2>
    <img src="https://cdn.pixabay.com/photo/2015/12/08/01/04/sombrero-1082322_960_720.jpg" alt="">
</body>

