
<div id="carouselExampleIndicators" class="carousel slide my-auto" data-ride="carousel">

  <div class="my-auto carousel-inner">
    <div class="my-auto carousel-item active">
      <img class="my-auto d-block w-100" src="https://res.cloudinary.com/dlnimaboq/image/upload/v1583925802/GrannyPlayCards_jfj0ds.jpg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <button class="btn btn-danger">Text</button>
    <h5>PUNCHLINE</h5>
    <p>...</p>
  </div>
    </div>
    <!-- <div class="my-auto carousel-item">
      <img class="my-auto d-block w-100" src="https://res.cloudinary.com/dlnimaboq/image/upload/v1583925712/GrannyEnForme_knmtl2.jpg" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>
    </div>
    <div class="my-auto carousel-item">
      <img class="my-auto d-block w-100" src="https://res.cloudinary.com/dlnimaboq/image/upload/v1583925621/GrannyPlayConsole_t3zjqa.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>
    </div> --><!--
  </div> -->

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!--
<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <button class="btn btn-danger">Text</button>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <h1 class='btn-primary'>Text 2</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <h1>Text 3</h1>
            </div>
        </div>
    </div>
</div>
 -->
